[submodule "extern/unity"]
	path = extern/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "extern/csp"]
	path = extern/csp
	url = https://github.com/spaceinventor/libcsp.git
[submodule "extern/libparam"]
	path = extern/param
	url = https://github.com/spaceinventor/libparam.git
[submodule "extern/slash"]
	path = extern/slash
	url = https://github.com/spaceinventor/slash
[submodule "extern/apm_csh"]
	path = extern/apm_csh
	url = https://github.com/spaceinventor/libapm_csh.git
