[submodule "extern/unity"]
	path = extern/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "extern/csp"]
	path = extern/csp
	url = https://github.com/spaceinventor/libcsp
[submodule "extern/libparam"]
	path = extern/param
	url = git@github.com:spaceinventor/libparam.git
